/** ------------------------------------
* import google web fonts */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

html {
	font-size: 10px !important;
}

body {
	font-family: "Noto Sans JP", sans-serif !important;
	font-size: 1.6rem !important;
}

h2 {
	border: solid #a9a9a9 !important;
	border-width: 0 0 1px !important;
	font-weight: 700 !important;
	margin-top: 44px !important;
	padding-bottom: 8px !important;
}

h3 {
	font-weight: 500 !important;
	margin-top: 40px !important;
}

h1 + h2,
hr + h2,
h2 + h3,
h3 + p,
h4 + p {
	margin-top: 0 !important;
}

h4 {
	margin-bottom: 5px !important;
	margin-top: 36px !important;
}

h5,
h6 {
	margin-bottom: 0 !important;
	margin-top: 28px !important;
}

h5 + p,
h6 + p {
	margin-top: 5px !important;
}

hr {
	border: dashed #ccc !important;
	border-width: 1px 0 0 !important;
	height: auto !important;
	margin: 44px 4em !important;
	padding: 0 !important;
}

p,
li {
	line-height: 1.8 !important;
}

code {
	background-color: rgb(175 184 193 / 20%) !important;
	border-radius: 6px !important;
	color: #24292f !important;
	font-family: "Source Code Pro", sans-serif !important;
	font-size: 1.4rem !important;
	margin: 0 !important;
	padding: .2em .4em !important;
}

pre {
	background-color: rgb(175 184 193 / 20%) !important;
	border: none !important;
	border-radius: 6px !important;
	color: #24292f !important;
	font-family: "Source Code Pro", sans-serif !important;
	font-size: 1.4rem !important;
	line-height: 1.45 !important;
	overflow: auto !important;
	padding: 10px !important;
}

pre > * {
	margin: 0 !important;
	padding: 0 !important;
}

pre code {
	background-color: transparent;
	border-radius: 0 !important;
	color: inherit !important;
	font-family: inherit !important;
	font-size: inherit !important;
	margin: 0 !important;
	padding: 0 !important;
}

pre code > div {
	padding: 0 !important;
}

.page-break-before {
	border: none !important;
	height: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	page-break-before: always;
}

.page-break-after {
	border: none !important;
	height: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	page-break-after: always;
}

@media screen {
	.page-break-before,
	.page-break-after {
		margin-top: 44px !important;
	}
}
